In [13]:
val student_data = """John, Wikes, 50, USA
Peter, Arturo, 43, USA
Sorsin, Ericsson, 29, Sweden
Sojith, Daga, 23, India, 
Kalle, Svensson, 28, Sweden """

student_data =

John, Wikes, 50, USA
Peter, Arturo, 43, USA
Sorsin, Ericsson, 29, Sweden
Sojith, Daga, 23, India,
Kalle, Svensson, 28, Sweden

In [14]:
case class Student (name: String, age: Integer, nationality: String)

defined class Student

In [22]:
val lines = student_data.split("\n")
lines.length

lines = Array(John, Wikes, 50, USA, Peter, Arturo, 43, USA, Sorsin, Ericsson, 29, Sweden, "Sojith, Daga, 23, India, ", Kalle, Svensson, 28, Sweden)

5

In [28]:
val students = lines.map(x => new Student(x.split(", ")(0) + " " + x.split(", ")(1), x.split(", ")(2).toInt, x.split(", ")(3)))

students = Array(Student(John Wikes,50,USA), Student(Peter Arturo,43,USA), Student(Sorsin Ericsson,29,Sweden), Student(Sojith Daga,23,India), Student(Kalle Svensson,28,Sweden))

lastException: Throwable = null

[Student(John Wikes,50,USA), Student(Peter Arturo,43,USA), Student(Sorsin Ericsson,29,Sweden), Student(Sojith Daga,23,India), Student(Kalle Svensson,28,Sweden)]

In [30]:
// Get distinct countries 

students.length

5

In [34]:
// Get list of distinct nationalities 

students.map(x => x.nationality).distinct

[USA, Sweden, India]

In [39]:
// Get average age
students.map(x => x.age).apply()

Name: Unknown Error
Message: <console>:35: error: could not find implicit value for parameter num: Numeric[Integer]
       students.map(x => x.age).sum
                                ^

StackTrace: